# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Sistema Operacional
.DS_Store
Thumbs.db

# Editores / IDEs
.vscode/
.idea/
*.swp
*.swo

# Compilados Sass
.sass-cache/
*.css.map
